* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    background-color: antiquewhite;
}

.container {
    max-width: 1024px;
    width: 100%;
    text-align: center;

}

.container h1 {
    margin-top: 120px;
    margin-bottom: 36px;
}

.lista li{
    margin-top: 36px;
    display: inline;
    text-align: center;
    margin-left: 36px;
}

.container h3 {
    margin-top: 84px;
}

.container p {
    margin-top: 24px;
    font-size: 48px;
    margin-bottom: 36px;
}

#formulario input {
    display: block;
    align-items: center;
    background-color: #fff;
    width: 360px;
    height: 36px;
    text-align: center;
}

button {
    align-items: center;
    display: block;
    width: 360px;
    height: 36px;
    background-color: rgb(161, 126, 84);
}

button:hover {
    cursor: pointer;
    background-color: rgb(183, 119, 40);
}